body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index_login {
    width: 600px;
    height: 200px;
    border : 1px solid rgb(124, 122, 122);
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 15px;
    margin-left: auto;
    margin-right: auto;
    padding : 10px;   
}

.phone_num {
    width:50px;
}

.login_input {
    position: relative;
}

.login_input > label {
    display: inline-block;
    /* width :60px; */
    position: absolute;
    left : 10px;
    top : 7px;
    background-color: white;
    font-size: 13px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}


.login_input > .login_text {
    height: 34px;
    width: 150px;
    margin-top: 15px;
    
}

#index_login > input {
    margin-top: 10px;
}

#time {
    margin-top: 10px;
    font-size: 14px;
}